body{
	width: 100%;
	height: 100%;
}
.container .thumbnail{
	margin-left:80px; 
}
.row-1{
	margin-top:30px;
}
.row{
	margin-top: 10px;
}
.top-img img{
	border-radius: 50%;
	height:200px;
	width: 200px;
}
.thumbnail{
	margin: 5px;
	height: 200px;
	width: 200px;
}
.layout{
	margin-left: 8px;
}
#bizpro{
	width:30%;
	float: left;
	margin-right: 3px;
}
#bizname{
	width: 46%;
	float: left;
}
#logo{
	width: 15%;
	float: left;
	margin-right: 3px;
}
#story{
	border-top: 10px;
	width:30%;
	float: left;
	margin-right: 3px;
}
#aside{
	border-top: 10px;
	width:46%;
	float: left;
	margin-right: 3px;
}
