body{
    background-color:white;
    color:black;
    height: 100%;
}
.container{
    width: 100%;   
}
.mid img{
    border-radius: 50%;
    padding: 1px;   
}
.row{
    margin-left: 4px;
}
.btn{
    color: black;
    
}
.col-lg-2{
    margin-top: 8px;
}
.col-lg-2 a{
    text-decoration: none;
}
.col-lg-10 h2{
    text-align: left; 
}
.top{
    margin-top: 20px;
}
.top img{
    float: left;
}  
.header{
    background-color: firebrick;
    border-radius: 0.5rem;
    text-align: center; 
    color: white; 

}
.header p{
    text-align: center;
}
.header img{
   margin:5px;
}
.aside h1{
    text-align:left;
}
a{
    color: red;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
a:hover{
    color: cyan;
    text-decoration: none;
}
.thumbnail{
    width: 150px;
    height: 100px;
    margin: 3px;
}

/** footer **/
.footer-section{
    background-color: firebrick;
    position: absolute;
    width: 100%;
    color: white;
    margin-bottom: 0;
    margin-top: 110px;

}
.footer-section p{
    text-align: center;
    margin-top: 10px;
}

